body {
    background: rgb(17, 198, 205);
    color: rgb(45, 45, 45);
    padding: 10px;
}
h1 {
	font-family: Raleway;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h3 {
	font-family: Raleway;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h2 {
	font-family: Raleway;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
p {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
blockquote {
	font-family: Raleway;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
pre {
	font-family: Raleway;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
header {
    font-size: 1.5em;
    font-weight: bold;
}

li {
	font-family: Raleway;
}



[id=all-contents] {
    max-width: 800px;
    margin: auto;
}
.p {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

/* navigation menu */
nav {
    border: 2px solid;
    border-radius: 25px;
    background: rgb(259, 80, 41);
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
nav header {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
}
nav ul {
    list-style-image: none;
}
nav li {
    display: inline-block;
    padding: 0 10px;
}
nav a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(245, 238, 219);
    border-radius: 25px;
    display: flex;
}
[class=sidebar] {
    margin-right: 25px;
    padding: 10px;
}
[class=sidebar] img {
    width: 200px;
}
[class=content] {
    flex: 1;
    padding: 15px;
}
[class=interests] header {
    font-size: 1.25em;
}
img {
	float: right;	
}